body{
    background-color: rgb(82, 203, 216);
    text-align: center;

}

.container{

    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem;
    color: red;
    background-color: #ffffc7;
}
#reset{

    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(128, 150, 185);
    color: rgb(244, 245, 245);
    border-radius: 1rem;
  
    border: none;
}

#new-btn{

    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(128, 150, 185);
    color: rgb(244, 245, 245);
    border-radius: 1rem;
  
    border: none;
}

#msg{

    color: bisque;
    font-size: 5vmin;
}

.msg-container{
    height: 30vmin;
   
}

.hide{
    display: none;
}

.top{
    background-color: rgb(123, 197, 27);
    
}
h2{
    color: rgb(189, 39, 139);
}

h1{
    color: rgb(188, 65, 20);
}
h5{
    background-color: rgb(242, 223, 56);
    padding: 8px;
    margin: 2px;
}